/**
 * @name Chainsawman
 * @version 1.0
 * @description A simple Chainsawman theme for discord :)
 * @author Ramzes364
 * @invite PZdnCVD
 * @source ...
 * @website ...
 * @BDEditor Ramzes364
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/HfwsoUw.jpg');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.7;
  --homeImage: url('https://i.imgur.com/48EaQCm.jpg');
  --homeImageSize: cover;
  --themeColor1: #FA0055;
  --themeColor2: #EC125C;
  --customFont: Open Sans;
  --backgroundCode: rgb(151,71,71,0.5);
  --backgroundName: rgb(177,67,67,0.5);
}

/* Any custom CSS below here */

